* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica Neue";
}

header {
  background-color: #444;
  padding: 0.6%;
}

h1 {
  color: #fff;
  font-family: 'Pacifico', cursive;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5%;
}

.add-buttons {
  display: flex;
  justify-content: space-between;
  width: 40%;
}

.add {
  color: #fff;
  background-color: #ea4c89;
  font-size: 150%;
  padding: 1%;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 25%;
}

.add:hover {
  background-color: #df3e7b;
}

.items {
  height: 70vh;
  display: flex;
  flex-wrap: wrap;
}

.item {
  font-size: 900%;
  margin: 20px;
}

h3 {
  color: #444;
}
